In [2]:
pip --version

pip 22.2.2 from /home/daniel/anaconda3/envs/Secuencias/lib/python3.10/site-packages/pip (python 3.10)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
from sklearn.cluster import KMeans, DBSCAN, MeanShift, MiniBatchKMeans, Birch, AffinityPropagation, AgglomerativeClustering
from sklearn import metrics

ModuleNotFoundError: No module named 'sklearn'

In [2]:
df_data = pd.read_csv("../../results_demo/T50/FFT/Group_1/fft-Group_1-T50.csv")
df_data

,id,target,p_0,p_1,p_2,p_3,p_4,p_5,p_6,p_7,...,p_246,p_247,p_248,p_249,p_250,p_251,p_252,p_253,p_254,p_255
0,sequence_53082,55.0,3150.3724,1398.2832,304.4046,322.2615,1140.3002,448.9233,2211.9756,409.6138,...,1508.2164,634.8306,410.8776,869.9480,1425.3662,1377.0610,854.7501,1739.4700,885.7743,818.9104
1,sequence_19402,43.0,4089.1708,1662.4272,1405.1968,410.9328,973.3000,1157.7834,1250.4681,1081.7327,...,697.9490,832.8546,1954.3619,1319.0732,2367.2877,702.5007,717.1917,2163.8280,636.5569,761.5584
2,sequence_20054,49.0,3080.5184,2893.1993,783.6347,841.6179,329.7001,1333.9950,1791.7293,892.6078,...,716.5247,1624.0616,1095.6323,1290.2946,2280.0647,1477.6944,1126.2000,1119.3065,392.5626,543.2948
3,sequence_20048,39.8,2903.3554,1869.1072,415.5416,478.0876,1095.1734,1141.8583,1038.0731,118.4639,...,1177.0605,450.7639,1150.0223,703.6181,2287.0890,1321.2040,439.1027,837.0688,782.6262,619.3048
4,sequence_20036,52.9,3811.4373,2067.9898,686.2732,638.0182,129.6664,1058.5985,1732.0103,935.9170,...,1104.8274,1101.2819,1074.6408,594.4898,1947.8209,1421.4184,722.6259,1040.1254,415.0795,423.4236
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
256,sequence_19347,58.9,3649.3140,1411.1883,720.2269,673.3180,1475.8570,743.9680,2438.6256,509.0155,...,1177.2494,1018.4538,652.0462,843.3994,989.1185,1254.2274,708.2833,2132.7281,1255.3700,693.4109
257,sequence_19379,50.3,4084.1338,1317.3309,872.5128,528.4260,1171.6470,578.4036,2406.2618,358.4809,...,1167.3573,1456.9737,1083.6956,1234.8467,1149.8969,1003.1823,852.7211,1991.2455,1188.3289,670.9070
258,sequence_19348,46.7,3591.9182,1360.0874,759.5197,658.3699,1600.1503,800.2279,1941.1055,763.6897,...,625.1967,1185.8617,468.8053,1542.8443,955.0833,1130.1490,868.2722,357.5350,1330.3681,1165.7786
259,sequence_19380,48.1,4026.7380,1275.5679,904.8241,524.5225,1297.4411,670.9226,1909.2017,826.5990,...,865.6822,1691.3401,185.3929,1915.7127,1209.7112,829.3448,649.7138,226.1442,1250.4902,1115.2555
260,sequence_19401,47.4,3727.1213,1654.1631,1166.7444,407.2609,1238.7945,725.8575,2192.1724,471.4763,...,778.5352,1155.8174,1083.8459,1380.5553,1515.8813,1379.9997,482.9259,2515.9076,519.0875,193.4826

In [3]:
def get_performance_clustering(data, labels):
    siluetas = metrics.silhouette_score(data, labels, metric='euclidean')
    calinski = metrics.calinski_harabasz_score(data, labels)
    davies = metrics.davies_bouldin_score(data, labels)

    return siluetas, calinski, davies

In [4]:
#ignoramos y removemos las columnas que no ocuparemos para el clustering
ignore_columns = pd.DataFrame()
ignore_columns['id'] = df_data['id']
ignore_columns['target'] = df_data['target']

df_data = df_data.drop(columns=['id', 'target'])

In [5]:
#exploramos KNN
matrix_result = []
for k in range(2, 30):
    kmeans = KMeans(n_clusters=k, random_state=0)
    kmeans.fit(df_data)
    siluetas, calinski, davies = get_performance_clustering(df_data, kmeans.labels_)
    row = ["k-means-{}".format(k), siluetas, calinski, davies]
    matrix_result.append(row)

df_explore = pd.DataFrame(matrix_result, columns=['strategy', 'siluetas', 'calinski', 'davies'])

NameError: name 'KMeans' is not defined

In [6]:
#seleccionamos el mejor
import numpy as np

highest_siluetas = np.max(df_explore['siluetas'])
highest_calinski = np.max(df_explore['calinski'])

# filtramos
df_filter_by_siluetas = df_explore.loc[df_explore['siluetas'] >= highest_siluetas]
df_filter_by_calinski = df_explore.loc[df_explore['calinski'] >= highest_calinski]

df_concat = pd.concat([df_filter_by_siluetas, df_filter_by_calinski])
strategies = df_concat['strategy'].unique()
strategies

NameError: name 'df_explore' is not defined

In [7]:
# en este caso salio el mejor k-means=2
kmeans = KMeans(n_clusters=2, random_state=0)
kmeans.fit(df_data)
ignore_columns['labels'] = kmeans.labels_

ignore_columns.to_csv("../../results_demo/T50/FFT/Group_1/unsupervised_clustering_sequences.csv")

NameError: name 'KMeans' is not defined