<h3> Estimador de distancias entre vectores </h3>

In [1]:
import pandas as pd
import sys

In [3]:
#agregamos el directorio con la informacion
sys.path.insert(0, '../distance_estimator/')

In [4]:
print("Preparing imports")

from distance_estimator import distance_estimator
from constant_values import constant_values

Preparing imports

In [5]:
#definicion de parametros
input_data = pd.read_csv("../../results_demo/T50/FFT/Group_0/fft-Group_0-T50.csv")
name_export = "../../results_demo/T50/FFT/Group_0/distance_estimator.csv"
column_with_response = "target"
column_with_id = "id"

In [6]:
#Instancia del objeto
distance_instance = distance_estimator(input_data,
                                       1,
                                       constant_values(),
                                       column_with_response,
                                       column_with_id)

#estimar distancias
distance_instance.generate_matrix_distance(name_export=name_export,
                                           is_export=True)

Start distance calculator
Process response
../../results_demo/T50/FFT/Group_0/distance_estimator.csv

              id_seq1  target_seq1         id_seq2  target_seq2      distance
0      sequence_53082         55.0  sequence_19402         43.0  38663.916973
1      sequence_53082         55.0  sequence_20054         49.0  38403.350335
2      sequence_53082         55.0  sequence_20048         39.8  37989.963358
3      sequence_53082         55.0  sequence_20036         52.9  37428.543420
4      sequence_53082         55.0  sequence_19525         48.8  37811.339553
...               ...          ...             ...          ...           ...
67855  sequence_19401         47.4  sequence_53056         52.0  19825.366654
67856  sequence_19401         47.4  sequence_19347         58.9  16852.986398
67857  sequence_19401         47.4  sequence_19379         50.3  10269.414721
67858  sequence_19401         47.4  sequence_19348         46.7  27063.790047
67859  sequence_19401         47.4  sequence_19380         48.1  24600.864835

[67860 rows x 5 columns]