In [1]:
import pandas as pd

In [2]:
cluster_graph = pd.read_csv("../../results_demo/T50/FFT/Group_0/graph_clustering_sequences.csv")
cluster_unsupervised = pd.read_csv("../../results_demo/T50/FFT/Group_0/unsupervised_clustering_sequences.csv")

In [4]:
cluster_unsupervised

     Unnamed: 0              id  target  labels
0             0  sequence_53082    55.0       1
1             1  sequence_19402    43.0       0
2             2  sequence_20054    49.0       0
3             3  sequence_20048    39.8       0
4             4  sequence_20036    52.9       0
..          ...             ...     ...     ...
256         256  sequence_19347    58.9       1
257         257  sequence_19379    50.3       1
258         258  sequence_19348    46.7       1
259         259  sequence_19380    48.1       1
260         260  sequence_19401    47.4       1

[261 rows x 4 columns]

In [6]:
df_merge = cluster_graph.merge(cluster_unsupervised, left_on='id', right_on='id')
df_merge = df_merge.drop(columns=['Unnamed: 0'])
df_merge

                 id  label  target  labels
0    sequence_19481      1    63.1       0
1    sequence_19392      1    50.5       0
2    sequence_19380      0    48.1       1
3    sequence_19412      1    55.3       0
4    sequence_20036      1    52.9       0
..              ...    ...     ...     ...
256  sequence_20063      1    48.9       0
257  sequence_19356      1    59.0       0
258  sequence_20061      1    45.0       0
259  sequence_19530      1    45.6       0
260  sequence_19457      1    43.6       0

[261 rows x 4 columns]

In [7]:
#armamos un pseudo bi-clustering o perfil
profiles = []

for index in df_merge.index:
    profile = "{}-{}".format(
        df_merge['label'][index],
        df_merge['labels'][index],
    )
    profiles.append(profile)

df_merge['profile'] = profiles
df_merge['profile'].unique()

array(['1-0', '0-1', '0-0'], dtype=object)

In [8]:
df_merge.to_csv("../../results_demo/T50/FFT/Group_0/generated_profiles.csv", index=False)