In [1]:
import pandas as pd

In [37]:
cluster_graph = pd.read_csv("../../results_demo/T50/FFT/Group_0/Correlation/graph_clustering_sequences.csv")
cluster_unsupervised = pd.read_csv("../../results_demo/T50/FFT/Group_0/unsupervised_clustering_sequences.csv")

In [38]:
cluster_unsupervised

     Unnamed: 0              id  target  labels
0             0  sequence_53082    55.0       1
1             1  sequence_19402    43.0       0
2             2  sequence_20054    49.0       0
3             3  sequence_20048    39.8       0
4             4  sequence_20036    52.9       0
..          ...             ...     ...     ...
256         256  sequence_19347    58.9       1
257         257  sequence_19379    50.3       1
258         258  sequence_19348    46.7       1
259         259  sequence_19380    48.1       1
260         260  sequence_19401    47.4       1

[261 rows x 4 columns]

In [39]:
df_merge = cluster_graph.merge(cluster_unsupervised, left_on='id', right_on='id')
df_merge = df_merge.drop(columns=['Unnamed: 0'])
df_merge

                 id  label  target  labels
0    sequence_19386      0    50.7       0
1    sequence_19407      0    49.2       0
2    sequence_19347      1    58.9       1
3    sequence_19442      0    47.4       0
4    sequence_19423      0    61.2       0
..              ...    ...     ...     ...
256  sequence_19521      1    53.0       1
257  sequence_19450      0    46.0       0
258  sequence_19349      1    58.9       1
259  sequence_19392      0    50.5       0
260  sequence_20069      0    53.4       0

[261 rows x 4 columns]

In [40]:
#armamos un pseudo bi-clustering o perfil
profiles = []

for index in df_merge.index:
    profile = "{}-{}".format(
        df_merge['label'][index],
        df_merge['labels'][index],
    )
    profiles.append(profile)

df_merge['profile'] = profiles
df_merge['profile'].unique()

array(['0-0', '1-1', '1-0'], dtype=object)

In [41]:
df_merge.to_csv("../../results_demo/T50/FFT/Group_0/Correlation/generated_profiles.csv", index=False)